*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#f8fafc,#e0f2fe);
    min-height:100vh;
    color:#1e293b;
}

nav{
    
     position:sticky;
    top:0;
    z-index:1000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
    background:#7c4dc7;   /* Purple */
    height:90px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);

}

.logo{
    font-size:32px;
    font-weight:700;
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:40px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:600;
    transition:0.3s;
}

nav ul li a:hover{
    color:#60A5FA;  /* Blue when mouse hovers */
}

.btn{
    display:inline-block;
    padding:14px 30px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:10px;
    margin-top:25px;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(37,99,235,0.3);
}

.center-page{
    min-height:80vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:40px 20px;
}

.card{
    width:280px;
    background:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    margin:15px;
    transition:.3s;
}


.card-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

table{
    width:80%;
    background:white;
    border-collapse:collapse;
    margin-top:30px;
}

table,th,td{
    border:1px solid #ddd;
}

th,td{
    padding:15px;
    text-align:center;
}

th{
    background:#2563eb;
    color:white;
}
.profile-pic{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:8px solid white;
    box-shadow:0 15px 35px rgba(37,99,235,0.25);
}
.card-link{
    text-decoration:none;
    color:#1e293b;
}

.card h3{
    margin-top:15px;
}

.card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:0 10px 25px rgba(37,99,235,0.2);
}
footer{
    background:linear-gradient(135deg,#615bd0,#6185c0);
    color:rgb(232, 234, 239);
    text-align:center;
    padding:12px;
    width:100%;
}

footer p{
    font-size:15px;
    margin:0;
}
footer p{
    font-size:18px;
    font-weight:500;
    letter-spacing:1px;
}
.card a{
    text-decoration:none;
    color:#2563eb;
    font-weight:600;
}

.card a:hover{
    color:#6D28D9;
}
.project-btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:#6D28D9;
    color:white !important;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s;
}

.project-btn:hover{
    background:#2563eb;
}
html{
    scroll-behavior:smooth;
}
.resume-btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 24px;
    background:#6D28D9;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}

.resume-btn:hover{
    background:#2563eb;
}